body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../media/background.png') no-repeat center center fixed;
    background-size: cover;
}
.username {
    letter-spacing: 1px;
    color:ghostwhite;
    text-shadow: 3px 3px 3px #000;
    font-family: 'Roboto', sans-serif;
    font-size: 400%;
    margin-bottom: 700px;
    text-align: center
}
.links {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-right: 25px;
    margin-top: 100px;
}
.links li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}
.links li a {
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 300%;
    color: white;
    text-shadow: 3px 3px 3px #000;
}
.probel {
    letter-spacing: 1px;
    color:ghostwhite;
    text-shadow: 3px 3px 3px #000;
    font-family: 'Roboto', sans-serif;
    font-size: 400%;
    text-align: center
}

